<div class="container">
  <br />

  <div class="row">
    <div class="col">
      <h3>Update User</h3>
    </div>
    <div class="col text-right">
      <p-button pRipple routerLink="/users" styleClass="p-button-secondary">Back To User List</p-button>
    </div>
  </div>
  <br />

  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">

    <div>
      <input formControlName="id" id="id" type="hidden" />
    </div>

    <div>
      <label for="firstName">First Name: </label>
      <input formControlName="firstName" id="firstName" type="text" class="form-control" />
    </div>

    <div>
      <label for="lastName">Last Name: </label>
      <input formControlName="lastName" id="lastName" type="text" class="form-control" />
    </div>

    <div>
      <label for="email">Email: </label>
      <input formControlName="email" id="email" type="text" class="form-control" />
    </div>

    <div>
      <label for="role">Role: </label>
      <select class="form-control" type="number" formControlName="role" name="role" id="role">
        <option [ngValue]="0">Guest</option>
        <option [ngValue]="1">Regular</option>
        <option [ngValue]="2">Admin</option>
      </select>
    </div>

    <div>
      <label for="isActive">Status: </label>
      <select class="form-control" type="number" formControlName="isActive" name="isActive" id="isActive">
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>
    <br>

    <p-button pRipple type="submit" [disabled]="!editForm.valid" styleClass="p-button-warning">
      Update
    </p-button>
  </form>
</div>
