<div class="container">
  <br />

  <div>
    <div>
      <h3 class="heading">Update User</h3>
    </div>
    <div>
      <p-button pRipple routerLink="/users" styleClass="p-button-secondary">Back To User List</p-button>
    </div>
  </div>
  <br />

  <form class="form edit-form" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">

    <div>
      <input formControlName="id" id="id" type="hidden" />
    </div>

    <div class="input-group">
      <label for="firstName">First Name: </label>
      <input pInputText formControlName="firstName" id="firstName" type="text" class="form-control" />
    </div>

    <div class="input-group">
      <label for="lastName">Last Name: </label>
      <input pInputText formControlName="lastName" id="lastName" type="text" class="form-control" />
    </div>

    <div class="input-group">
      <label for="email">Email: </label>
      <input pInputText formControlName="email" id="email" type="text" class="form-control" />
    </div>

    <div class="input-group">
      <label for="role">Role: </label>
      <p-dropdown
      formControlName="role"
        class="input-dropdown"
        [options]="roles"
        [(ngModel)]="selectedRole">
      </p-dropdown>
    </div>

    <div class="input-group">
      <label for="isActive">Status: </label>
      <p-dropdown
      formControlName="isActive"
        class="input-dropdown"
        [options]="statuses"
        [(ngModel)]="selectedStatus">
      </p-dropdown>
    </div>
    <br>

    <p-button class="action-item" pRipple type="submit" [disabled]="!editForm.valid" styleClass="p-button-warning">
      Update
    </p-button>
  </form>
</div>
