<div class="container">
  <br/>

  <div class="center">
    <p-button pRipple routerLink="/users/create" styleClass="p-button-success">
      Create New User
    </p-button>

    <p-button pRipple (click)="sortByName()" styleClass="p-button-help">
      Name
    </p-button>

    <p-button pRipple (click)="sortByEmail()" styleClass="p-button-help">
      Email
    </p-button>

    <select type="number" [(ngModel)]="selectedRole">
      <option [ngValue]="0">Guest</option>
      <option [ngValue]="1">Regular</option>
      <option [ngValue]="2">Admin</option>
    </select>

    <p-button pRipple (click)="filterByRole(selectedRole)" styleClass="p-button-help">
      Role
    </p-button>

    <select type="number" [(ngModel)]="selectedStatus">
      <option [ngValue]="0">Inactive</option>
      <option [ngValue]="1">Active</option>
    </select>

    <p-button pRipple (click)="filterByStatus(selectedStatus)" styleClass="p-button-help">
      Status
    </p-button>
  </div>
  <br>

  <div>
    <p-table [value]="displayUsers" class="center" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <br>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            {{ user.firstName }} {{ user.lastName }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ roles[user.role] }}
          </td>
          <td>
            {{ user.isActive ? 'Active' : 'Inactive' }}
          </td>
          <td>
            <p-button pRipple [routerLink]="['/users/' + user.id + '/edit']" styleClass="p-button-warning">Edit</p-button>
          </td>
          <td>
            <p-button pRipple (click)="openDialog(user.id)" styleClass="p-button-danger">
              Delete
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
