<div>
  <br/>

  <div class="row">
    <div class="col">
      <h3>Create User</h3>
    </div>
    <div class="col text-right">
      <p-button pRipple routerLink="/users" styleClass="p-button-secondary">Back To User List</p-button>
    </div>
  </div>
  <br />

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input name="firstName" id="firstName" type="text" class="form-control" required
        [(ngModel)]="userToCreate.firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input name="lastName" id="lastName" type="text" class="form-control" required
        [(ngModel)]="userToCreate.lastName" />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input name="email" id="email" type="text" class="form-control" required [(ngModel)]="userToCreate.email" />
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select class="form-control" type="number" name="role" id="role" [(ngModel)]="userToCreate.role">
        <option [ngValue]="0">Guest</option>
        <option [ngValue]="1">Regular</option>
        <option [ngValue]="2">Admin</option>
      </select>
    </div>

    <div class="form-group">
      <label for="isActive">Status:</label>
      <select class="form-control" type="number" name="status" id="status" [(ngModel)]="userToCreate.isActive">
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>
    <br>

    <p-button pRipple type="submit" styleClass="p-button-success">Create</p-button>
  </form>

</div>
