<div class="container">
  <br/>

  <div>
    <div>
      <h3 class="heading">Create User</h3>
    </div>
    <div>
      <p-button class="action-item" pRipple routerLink="/users" styleClass="p-button-secondary">Back To User List</p-button>
    </div>
  </div>
  <br />

  <form class="form create-form" #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="input-group">
      <label for="firstName">First Name: </label>
      <input pInputText name="firstName" id="firstName" type="text" required
        [(ngModel)]="userToCreate.firstName" />
    </div>

    <div class="input-group">
      <label for="lastName">Last Name: </label>
      <input pInputText name="lastName" id="lastName" type="text" required
        [(ngModel)]="userToCreate.lastName" />
    </div>

    <div class="input-group">
      <label for="email">Email: </label>
      <input pInputText name="email" id="email" type="text" required
        [(ngModel)]="userToCreate.email" />
    </div>

    <div class="input-group">
      <label for="role">Role: </label>
      <p-dropdown
        class="input-dropdown"
        name="role"
        [options]="roles"
        [(ngModel)]="userToCreate.role">
      </p-dropdown>
    </div>

    <div class="input-group">
      <label for="isActive">Status: </label>
      <p-dropdown
        class="input-dropdown"
        name="isActive"
        [options]="statuses"
        [(ngModel)]="userToCreate.isActive">
      </p-dropdown>
    </div>
    <br>

    <p-button class="action-item" pRipple type="submit" styleClass="p-button-success">Create</p-button>
  </form>

</div>
